li:hover{
    background-color: #D9E2EC;
}

ul {
    padding-left: 15px;
    list-style-type: none;
}

.pending-orders {
    height: 250px;
}

.pending-orders-header-label {
    font-weight: bold;
}

.pending-orders-body {
    display:flex;
    background-color: white; 
    padding:10px;
}

.view-all-btn {
    background:none;
    border:none;
    color:#147D64;
    font-weight: bold;
}

.pending-orders-list {
    list-style-type:none;
    padding-right: 20px;
    overflow-y: hidden;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}