.pending-order-item {
    display: grid;
}

.pending-order-item-name-label {
    font-size: 14px;
}

.pending-order-item-value-label {
    font-size: 14px; 
    float: right;
}

.pending-order-item-age-label {
    font-size: 12px; 
    float: right;
    color:#829AB1
}